<h1 mat-dialog-title>
  Edit note</h1>
<div mat-dialog-content>
  <form #f="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Title </mat-label>
      <input matInput [(ngModel)]="data.title" name="title" required minlength="3">
    </mat-form-field>

    <mat-label>Plot</mat-label>
    <mat-form-field class="example-full-width" appearance="fill">

      <textarea matInput #content maxlength="1000" [(ngModel)]="data.plot" name="plot" required minlength="3" maxlength="1000"></textarea>
      <mat-hint align="end">{{content.value.length}} / 1000</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Release Date</mat-label>
      <input matInput type="date" [(ngModel)]="data.releaseDate" name="releaseDate">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Runtime [xh:ymin]</mat-label>
      <input matInput type="text" [(ngModel)]="data.runtimeStr" name="runtimeStr">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Awards</mat-label>
      <input matInput type="text" [(ngModel)]="data.awards" name="awards">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Directors</mat-label>
      <input matInput type="text" [(ngModel)]="data.directors" name="directors">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Rating</mat-label>
      <input matInput type="text" [(ngModel)]="data.rating" name="rating">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>SmallImage</mat-label>
      <input matInput type="text" [(ngModel)]="data.smallImage" name="smallImage">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Image</mat-label>
      <input matInput type="text" [(ngModel)]="data.image" name="image">
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
      <button mat-button [mat-dialog-close]="data" *ngIf="f.valid" cdkFocusInitial>Ok</button>
      <button mat-button (click)="onNoClick()">Cancel</button>

    </div>
  </form>
</div>
