<div className="justifyView">
  <table class="table">
    <thead>
      <tr>
        <th>
          <span class="theader">Id</span>
        </th>
        <th>
          <span class="theader">Title</span>
        </th>
        <th>
          <span class="theader">Image</span>
        </th>
        <th>
          <span class="theader">Release Date</span>
        </th>
        <th>
          <span class="theader">Runtime </span>
        </th>
        <th>
          <span class="theader">Plot</span>
        </th>
        <th>
          <span class="theader">Awards</span>
        </th>
        <th>
          <span class="theader">Directors</span>
        </th>
        <th>
          <span class="theader">Rating</span>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let film of filmsList" [class.selected]="film===selectedFilm">

        <td (mousedown)="onSelect(film)"><span class="tbody">{{film.filmId}}</span></td>
        <td (mousedown)="onSelect(film)"><span>{{film.title}}</span></td>
        <td (mousedown)="onSelect(film)"><img src="{{film.smallImage}}" /></td>
        <td (mousedown)="onSelect(film)"><span>{{film.releaseDate}}</span></td>
        <td (mousedown)="onSelect(film)"><span>{{film.runtimeStr}}</span></td>
        <td (mousedown)="onSelect(film)"><span>{{film.plot}}</span></td>
        <td (mousedown)="onSelect(film)"><span>{{film.awards}}</span></td>
        <td (mousedown)="onSelect(film)"><span>{{film.directors}}</span></td>
        <td (mousedown)="onSelect(film)"><span>{{film.rating}}</span></td>

    </tr>
    </tbody>
  </table>

  <button mat-raised-button color="primary" (click)="openDialog(true, false)">ADD FILM</button>

  <div *ngIf="selectedFilm!=null">
    <app-film-component [film]="selectedFilm" (changeFilmStatus)="changeStatus()" (deleteFilm)="deleteFilm()" (editFilm)="openDialog(false, true)"></app-film-component>
  </div>
</div>
