<div className="justifyView">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let note_h of headers; let index=index;">
          <span class="theader">{{note_h}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let film of filmsList" [class.selected]="film===selectedFilm">

        <td (mouseenter)="onSelect(film)"><span class="tbody">{{film.filmId}}</span></td>
        <td (mouseenter)="onSelect(film)"><span>{{film.title}}</span></td>

    </tr>
    </tbody>
  </table>

  <button mat-raised-button color="primary" (click)="openDialog()">ADD FILM</button>

  <div *ngIf="selectedFilm!=null">
    <app-film-component [film]="selectedFilm" (changeFilmStatus)="changeStatus()" deleteNode="deleteFilm()" editNote="openDialog()"></app-film-component>
  </div>
</div>
