<h1 mat-dialog-title>
  Add a new show</h1>

<div mat-dialog-content>
  <form #f="ngForm">

    <div class="example-full-width" appearance="fill">
<!--      selected="{{film.filmId === data.show.filmId}}"-->
      <mat-form-field appearance="fill">
        <mat-label>Choose film</mat-label>
        <mat-select>
          <mat-option value="one">Eternals</mat-option>
          <mat-option value="two">SpiderMan</mat-option>
          <mat-option value="three">James Bond</mat-option>
        </mat-select>
      </mat-form-field>
    </div>



    <p>
      <mat-form-field appearance="fill">
        <mat-label>Hours</mat-label>
        <input matInput placeholder="10:00;14:00;18:00">
        <mat-hint>Separate with ';'</mat-hint>
      </mat-form-field>
    </p>

    <div class="example-full-width">
            <!--      selected="{{film.filmId === data.show.filmId}}"-->
      <mat-form-field appearance="fill">
        <mat-label>Choose room nr.</mat-label>
        <mat-select>
          <mat-option value="one">1</mat-option>
          <mat-option value="two">2</mat-option>
          <mat-option value="three">3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <p>
      <mat-form-field appearance="standard">
        <mat-label>Choose Date</mat-label>
        <input type="date" matInput placeholder="Placeholder">
        <mat-hint>Pick date</mat-hint>
      </mat-form-field>
    </p>
    <div mat-dialog-actions>
      <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
      <button mat-button [mat-dialog-close]="data" *ngIf="f.valid" cdkFocusInitial>Ok</button>
      <button mat-button (click)="onNoClick()">Cancel</button>

    </div>

  </form>
</div>
